
.navbar{
    background-color: coral;
    padding: 40px 20px;
    text-align: center;
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: teal;
    border-radius: 5px;
}
.drpdwn-container{
    display: inline;
    position: relative;
}
.drp-content{
    position: absolute;
    top: 30px ;
    right: 0;
    background-color: coral;
    text-align: left;
    min-width: 100px;
    display: none;
}
.drp-content a{
    display: block;
}
.drpdwn-container:hover .drp-content{
    display: block;
}